<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>OddJobs - Accept Listing</title>
  <link href="/bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css" />
  <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
  <link href="create-post.css" rel="stylesheet" type="text/css" />
  <link href="listing.css" rel="stylesheet" type="text/css" />
  <script type="module" src="./listing.js" defer></script>
</head>

<body>
  <iframe src="navbar.html" width="100%"></iframe>
  <div class="row mt-3">
    <div class="col-md-4">
      <div id="title" class="form-control form-control-lg" type="text" placeholder="Title">
        <%= post_title %>
      </div>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-md-8">
      <div id="description">
        <%= post_description %>
      </div>
    </div>
    <div class="col-md-2">
      <div class="row">
        <h4 class="tokens"><strong>Tokens: <%= tokens %></strong></h4>
      </div>
      <div class="row">
        <button id="post" class="btn btn-primary btn-md mt-3" type="submit">Accept</button>
      </div>
    </div>
  </div>
</body>