body { padding-top: 70px; }

.scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}

.nav-item {
    align-self:center;
}

#no-result {
    color: grey;
    text-align: center;
}

#sad {
    font-size: 100px;
}